$width: 800px;

body{
    background-color: #111;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
    color:inherit;
    text-decoration:inherit;
}
#dribble_app{
    width:$width;
    margin-left:auto;
    margin-right:auto;    
}
#nav{
    width:$width;
    height:20px;
    padding:10px 0px 10px 0px;
    font-size:18px;
    font-weight:bold;
    color:#AAA;
    border-bottom:1px solid #AAA;        
}
.nav_item{
    float:left;
    margin-left:30px;
}
#content{
    width:$width;
    padding-top:5px;
}

.pic_item{
    float:left;
    width:200px;
    height:150px;
}
.pic{
    position:relative;
    width:200px;
    height:150px;
    margin-left:auto;
    margin-right:auto;
}
.pic_header{
    display:none;
    padding:4px 6px 4px 6px;
    position:absolute;
    top:0px;
    left:0px;
    background-color:#333;
    opacity:0.7;
    font-size:12px;
    color:#AAA;
}
.pic_footer{
    display:none;
    padding:4px 6px 4px 6px;
    position:absolute;
    bottom:0px;
    right:0px;
    background-color:#333;
    opacity:0.7;
    font-size:12px;
    color:#AAA;
}