$width: 800px;

body{
    display:block;
    background-color: #111;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
    color:inherit;
    text-decoration:inherit;
}
.left{
    float:left;
}
#dribble_app{
    width:$width;
    margin-left:auto;
    margin-right:auto;    
}
#nav{
    opacity:0.7;
    z-index: 500;
    position: fixed;
    background-color: #111;
    top:0px;
    width:$width;
    height:20px;
    padding:10px 0px 10px 0px;
    font-size:18px;
    font-weight:bold;
    color:#AAA;
    border-bottom:1px solid #AAA;        
}
.nav_item{
    float:left;
    margin-left:30px;
}
#content{
    width:$width;
    padding-top:80px;
}

.pic_item{
    float:left;
    width:200px;
    height:150px;
}
.pic{
    position:relative;
    width:200px;
    height:150px;
    margin-left:auto;
    margin-right:auto;
}
.pic_header{
    display:none;
    padding:4px 6px 4px 6px;
    position:absolute;
    top:0px;
    left:0px;
    background-color:#333;
    opacity:0.7;
    font-size:12px;
    color:#AAA;
}
.pic_footer{
    padding:4px 6px 4px 6px;
    position:absolute;
    bottom:0px;
    right:0px;
    background-color:#333;
    opacity:0.7;
    font-size:12px;
    color:#AAA;
}
.pic_footer_name{
    display:none;
    height:12px;
}
.pic_footer_likes{
    width:38px;
    height:12px;
}
.pic_footer_comments{
    width:38px;
    height:12px;
}
.pic_footer_info{
    margin-left:4px;
}
.icon_comment{
    width:12px;
    height:12px;
    background:url(/images/icon-comments.png) 0 0;
}
.icon_heart{
    width:12px;
    height:12px;
    background:url(/images/icon-hearts.png) 0 0;
}
.list_footer{
    width:$width;
}
.list_footer_info{
    font-size:18px;
    font-weight:bold;
    color:#AAA;
    margin-top:20px;
    width:140px;
    margin-left:auto;
    margin-right:auto;
}