!!! 5
%html
  %head
    %title
      Nick Knudson - Dribbble Project
    = stylesheet_link_tag 'normalize', 'dribbble'
    = javascript_include_tag 'dribbble'
  %body
    #dribble_app
      #nav
        .nav_item
          %a{:href => '#popular'}
            Popular
        .nav_item
          %a{:href => '#debuts'}
            Debut
        .nav_item
          %a{:href => '#everyone'}
            Everyone
      #content